body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 40px;
}
#name{
    font-size: 50px;
    color: deeppink;
}
.half-width
{
    width: 40%;
    height: 500px;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
    height: auto;
}
#text{
    padding-top: 150px;
    padding-left: 50px;
}
.button1
{
    text-decoration: none;
    background-image: linear-gradient(45deg,hotpink,deeppink);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: gray;
}
.top-banner
{
    background-image: url("Images/header-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
}
section.top-banner{
    height: 500px;
    padding-bottom: 100px;
}
.biography{
    background-image: url("Images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
}
section.biography{
    height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.head-latest
{
    text-align: center;
}
section.row{
    padding-top: 3%;
    height: 400px;
    padding-bottom: 60px;
}
.column
{
    box-shadow: 10px 10px 40px gray;
    width: 26%;
    float: left;
    margin-left: 5%;
    padding: 0.5%;
}
.column img{
    width: 100%;
}
.client
{
    text-align: center;
    padding-bottom: 80px;
}
.mail {
    color: white;
    margin: auto;
    width: 30%;
    border: 1px solid deeppink;
    border-radius: 5px;
    padding: 10px;
    background-color: deeppink;
  }
.piyal
  {
      font-size: 22px;
  }
footer p{
    text-align: center;
    font-size: 15px;
}
